@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-brand: #00ffab;
  --color-brand-muted: #064e3b;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;

  /* Typography */
  --font-display: var(--font-inter-tight), ui-sans-serif, system-ui;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  /* animation*/
  --animate-infinite-scroll: infinite-scroll 35s linear infinite;
  --animate-scan: scanline 10s linear infinite;
  --animate-status-prog: status-progress 2s ease-in-out infinite;

  @keyframes scanline {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(400%);
    }
  }

  @keyframes status-progress {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer utilities {
  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white' stroke-opacity='0.03'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
  }
  .glow-shadow {
    box-shadow: 0 0 20px rgba(0, 255, 171, 0.1);
  }
}
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@utility glow-brand {
  box-shadow: 0 0 20px -5px rgba(0, 255, 171, 0.3);
}

@utility text-balance {
  text-wrap: balance;
}

@utility bg-grid-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white' stroke-opacity='0.03'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
}
